.page {
  padding-top: 150px;
  min-height: 100vh;
  text-align: center;
}

.page h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* general container */
.container {
  width: min(1200px, 92%);
  margin: 0 auto;
}
